{% extends 'base.html' %}

{% block content %}
    <section class="h-screen py-40">
        <div class="flex items-center justify-center">
            <form action="" method="post" class="flex items-center">
                {% csrf_token %}
                <button type="submit" class="py-2 px-4 bg-red-600">Yes</button>
                <button type="button" class="py-2 px-4 bg-yellow-300" onclick="history.back()">No</button>
            </form>
        </div>
    </section>
{% endblock content %}
{% block extrajs %}
<script>
    console.log('hello delete view')
</script>
{% endblock extrajs %}
    